.App {
  text-align: center;
}

.is-completed {
  text-decoration: line-through;
}

.not-completed{
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.not-completed:hover{
  background-color: plum;
  transform: translateY(4px);
}